asgiref
wheel
backports.zoneinfo
backports.zoneinfo
certifi
charset-normalizer
Django
django-cors-headers
django-environ
idna
jinja2
MarkupSafe
psycopg2-binary
requests
sqlparse
typing-extensions
tzdata
urllib3
